author = "Thallium"
paginate = 3
languageCode = "en"
DefaultContentLanguage = "en"
enableInlineShortcodes = true
footnoteReturnLinkContents = "^"
enableEmoji = true
math = true
# DO NOT REMOVE THIS
theme = "harbor"

[Author]
  name = "hugo author"

[permalinks]
    post = "/:year/:month/:day/:filename/"
    page = "/:filename/"

[outputs]
    section = ["JSON", "HTML"]

[[params.nav]]
    identifier = "home"
    name = "Home"
    icon = "fas fa-home fa-lg"
    url = "/"
    weight = 3

[[params.nav]]
    identifier = "about"
    name = "About"
    icon = "fas fa-user fa-lg"
    url = "/about/"
    weight = 3

[[params.nav]]
    identifier = "tags"
    name = "Tags"
    icon = "fas fa-tag fa-lg"
    url = "/tags/"
    weight = 3

[[params.nav]]
    identifier = "categories"
    name = "Categories"
    icon = "fas fa-list fa-lg"
    url = "/categories/"
    weight = 3

[[params.nav]]
    identifier = "archives"
    name = "Archives"
    icon = "fas fa-archive fa-lg"
    url = "/archives/"
    weight = 3

[[params.nav]]
  identifier = "search"
  name = "Search"
  icon = "fas fa-search fa-lg"
  url = "/search/"
  weight = 3


[[params.social]]
  name= "GitHub"
  url="https://github.com/thallium"
  icon="fab fa-github"


[params]
  mainSections = ["post"]
  favicon = "favicon.ico"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true  # Enable user to embed HTML snippets in Markdown content
  [markup.tableOfContents]
    endLevel = 4
    ordered = false
    startLevel = 2
  [markup.highlight]
    style = "monokailight"

[languages]
  [languages.en]
    title = "Thallium's Blog"
    baseURL = "https://blog.tgc-thallium.com/"
  [languages.zh-hans]
    title = "Thallium的博客"
    baseURL = "https://blog-zh.tgc-thallium.com/"
