baseURL = "https://tgc-thallium.com/blog/"
title = "Thallium's Blog"
author = "Thallium"
paginate = 3
languageCode = "en"
DefaultContentLanguage = "en"
enableInlineShortcodes = true
footnoteReturnLinkContents = "^"
math = true
# DO NOT REMOVE THIS
theme = "harbor"

[Author]
  name = "hugo author"

[permalinks]
    post = "/:year/:month/:day/:filename/"
    page = "/:filename/"

[outputs]
    section = ["JSON", "HTML"]

[[params.nav]]
    identifier = "about"
    name = "About"
    icon = "fas fa-user fa-lg"
    url = "/about/"
    weight = 3

[[params.nav]]
    identifier = "tags"
    name = "Tags"
    icon = "fas fa-tag fa-lg"
    url = "/tags/"
    weight = 3

[[params.nav]]
    identifier = "archives"
    name = "Archives"
    icon = "fas fa-archive fa-lg"
    url = "archives"
    weight = 3

[[params.nav]]
  identifier = "search"
  name = "Search"
  icon = "fas fa-search fa-lg"
  url = "/search/"
  weight = 3


[[params.social]]
  name= "GitHub"
  url="https://github.com/thallium"
  icon="fab fa-github"


[params]
  mainSections = ["post"]
  favicon = "favicon.ico"

  [params.logo]
    url = "icon.png"
    width = 50
    height = 50
    alt = "Logo"
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true  # Enable user to embed HTML snippets in Markdown content
  [markup.tableOfContents]
    endLevel = 4
    ordered = false
    startLevel = 2
